<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="ReporterSuite" verbose="1" parallel="false" thread-count="1">
  <listeners>
    <listener class-name="com.example.reporting.ReporterListener" />
  </listeners>

  <!--
    Group-filter mode:
    To run only smoke, change include value to "smoke".
    For all grouped tests, keep ".*".
  -->
  <test name="ChromeSuites">
    <parameter name="browser" value="chrome" />
    <groups>
      <run>
        <include name=".*" />
      </run>
    </groups>
    <classes>
      <class name="com.example.tests.LoginSmokeSuite" />
      <class name="com.example.tests.InvalidLoginNegativeSuite" />
      <class name="com.example.tests.FlakyCheckoutSuite" />
      <class name="com.example.tests.LongRunningSuite" />
      <class name="com.example.tests.SampleTests" />
    </classes>
  </test>

  <test name="EdgeSuites">
    <parameter name="browser" value="edge" />
    <groups>
      <run>
        <include name=".*" />
      </run>
    </groups>
    <classes>
      <class name="com.example.tests.EdgeOnlySuite" />
    </classes>
  </test>
</suite>
